pull_requests:
  do_not_increment_build_number: true

branches:
  only:
  - master
  - develop

install:
  - ps: Install-Product node 8.9.1 x64

build_script: npm install

test_script:
  - npm run lint
  - npm run test
  - npm run package

deploy:
  provider: GitHub
  auth_token:
    secure: wVuEFe8aedCSPeg261afek1xyAYb67Ep76jsUtiPaAf07LHbyQzG9ZqF11mElmqC
  artifact: /.*\.exe/
  on:
    branch: master
    appveyor_repo_tag: true

environment:
  GH_TOKEN:
    secure: wVuEFe8aedCSPeg261afek1xyAYb67Ep76jsUtiPaAf07LHbyQzG9ZqF11mElmqC
