.DirectoryWrapper {
    height: 100%;
    width: 100%;
    position: absolute;

    .splitPaneWrapper {
        position: absolute;
        height: 93vh;
        width: 100%;

        .scrollAreaWrapper {
            width: 100%;

            .directoryScrollArea {
                width: 100%;
                height: 100%;
            }

            .scrollbar-container {
                position: absolute;
                background-color: inherit;

                &.vertical {
                    right: 0;
                    top: 0;
                }
            }
        }
    }
}
