.DirectoryWrapper {
    display: grid;
    width: 100%;
    height: 100%;

    .splitPaneWrapper {
        grid-area: 2 / 1 / 101 / 2;
        position: relative;

        .scrollAreaWrapper {
            width: 100%;
            display: grid;
            align-content: start;

            .scrollarea {
                overflow: hidden;
                position: relative;
                height: 100%;

                .scrollarea-content {
                    position: relative;
                }

                .scrollbar-container {
                    position: absolute;
                    background: inherit;
                    width: 0.9em;

                    &vertical .scrollbar {
                        width: 100%;
                    }
                }
            }

            .scrollbar-container {
                background-color: inherit;

                &.vertical {
                    right: 0;
                    top: 0;
                }
            }
        }
    }
}
