.App {
    display: grid;
    height: 100vh;
    width: 100vw;

    .main {
        grid-area: 1 / 1 / 100 / 25;
        position: relative;
    }
}

.Resizer {
    opacity: 1;
    z-index: 1;
    box-sizing: border-box;
    background-clip: padding-box;

    &.horizontal {
        height: 2px;
        cursor: row-resize;
        width: 100%;
    }

    &.vertical {
        width: 2px;
        cursor: col-resize;
    }
}

.HotKeys {
    height: 100%;
}
