@import "normalize-scss/sass/normalize/import-now";

body {
    font-size: 1em;
    font-family: "Ubuntu", sans-serif
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 1em 0;
}

* {
    box-sizing: border-box;
}

/* Removes default highlighting on focused elements. */
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none;
}

::-webkit-scrollbar {
    background-color: inherit;
    width: 0.9em;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(65, 67, 57);
}
