.App {
    color: rgb(234, 248, 229);
}

.DirectoryPane {
    background: rgb(39, 40, 34);
}

.DirectoryItem {
    button {
        color: inherit;
        background-color: inherit;
        border: none;
    }
}

.Status {
    background: rgb(65, 67, 57);
}

.PathPanel {
    background: rgb(30, 31, 28);
}
