.DirectoryItem {
    padding: 0.13em 1em;

    button {
        width: 100%;
        text-align: left;
        background: inherit;
        border: none;
    }

    .sizeColumn, .lastModifiedColumn {
        font-size: 0.9em;
    }
}
