.DirectoryItem {
    padding: 0.13em 1em;

    button {
        text-align: left;
        background: inherit;
        border: none;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .sizeColumn, .lastModifiedColumn {
        font-size: 0.9em;
    }
}
