.Status {
    grid-area: 100 / 1 / 101 / 25;
    padding: 0.2em 1em 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.92em;

    .leftGroup, .rightGroup {
        display: flex;

        span {
            padding: 0 0.5em;
        }
    }
}
