.Status {
    position: relative;
    top: 97vh;
    height: 3vh;
    padding: 0.2em 1em 0 1em;
    display: flex;
    justify-content: space-between;

    .leftGroup, .rightGroup {
        display: flex;

        span {
            padding: 0 0.5em;
        }
    }
}
