@import "~xterm/dist/xterm.css";

.TerminalPane {
    height: 100%;
    overflow: hidden;
    padding: 5px 0 0 5px;

    .terminalContainer {
        font-family: "Ubuntu Mono", monospace;
        height: 100%;

        .terminal {
            height: 100%;
            background-color: inherit;

            .xterm-viewport {
                overflow-y: auto;
                height: 100%;
                background-color: inherit;
            }
        }
    }
}
