.TerminalPane {
    height: 100%;
    overflow: hidden;
    padding: 5px 0 0 5px;
    background: black;

    .terminalContainer {
        height: 100%;

        .terminal {
            height: 100%;

            .xterm-viewport {
                overflow-y: auto;
                height: 100%;
            }
        }
    }
}
